name: CI/CD for Blog App

on:
  push:
    branches: ["main"]

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push ARM64 Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm64           # ← ARM64 BURASI ÖNEMLİ
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/blog-app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/blog-app:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy Kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > kubeconfig
          chmod 600 kubeconfig

      - name: Deploy manifests
        run: |
          kubectl --kubeconfig=kubeconfig apply -f k8s/
